<br><br>
<h3><%= @user.username %></h3>
<br>
<h5>Here are <%= @user.username %>'s currently planned trips</h5>
<br>
<a class="btn btn-primary btn-lg" href="/plans/new" role="button">Create a New Plan</a>
<br>
<% @user.plans.each do |plan| %>
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p><%= plan.location %></p>
          <p><%= plan.dates %></p>
          <p><%= plan.party_number %></p>
          <p><%= plan.shelter_type %></p>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary btn-lg" href="/plans/:id/edit" role="button">Edit</a>
      </div>
    </div>
  </div>
<% end %>

